<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/line.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/form.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/breadcrumb.min.css"/>
  <script src="/static/js/semantic.min.js"></script>
  <title>投票--{{ vote.name }}</title>
</head>
<body>
  <img class="fs_fixbackground" src="/static/img/back.jpg"></img>
  <div class="f_wrapper fs_wrapper">
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a class="header item" href="/main/">首页</a>
        <a class="item" href="/main/result/{{ vote.id }}">查看投票结果</a>
      </div>
    </div>
    <div class="ui container">
      <h1 class="ui header"></h1>
      <h1 class="ui header"></h1>
      <h1 class="ui header">{{ vote.name }}</h1>
      <p>在名字前的方框中打勾,然后点击提交</p>
      <form class="ui four column stackable grid" method='post'>
        {% for item in vote.item %}
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="{{ item.picture }}">
            </div>
            <div class="content">
              <div class="header ui checkbox">
                <input type="checkbox" name={{ item.id }} value={{ item.id }}></input>
                <label>{{ item.name }}</label>
              </div>
              <div class="description">
                <strong>职称:</strong><br>
                {{ item.title }}<br>
                <strong>单位:</strong><br>
                {{ item.organization }}<br><hr><br>
                <a class="ui basic button" href="/main/introduction/{{ item.id }}/">介绍</a>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
              已有 {{ item.count }} 人选择此选项
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="one column row" align="center">
          <input class="ui button" type="submit" value="提交"></input>
        </div>
      </form>
    </div>
    <div class="f_copyright">
      <a class="f_powerby fs_powerby" target="_blank" href="http://muxistudio.com/">
        Powered by MuxiStudio
      </a>
    </div>
  </div>
</body>
</html>
