<!DOCTYPE>
<html>
<head>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/line.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/form.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/breadcrumb.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
  <title>投票--{{ vote.name }}</title>
</head>
<body>
  <img class="fs_fixbackground" src="/static/img/back.jpg"></img>
  <div class="f_wrapper fs_wrapper">
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a class="header item" href="/main/vote/{{ vote.id }}">投票</a>
        <a class="item" href="/main/result/{{ vote.id }}">投票结果</a>
      </div>
    </div>
    <div class="ui container">
      <h1 class="ui header"></h1>
      <h1 class="ui header"></h1>
      <h1 class="ui header vote_name">{{ vote.name }}</h1>
      <p class="vote_tip">提示：请在6名候选人中选定3人，然后点击下面提交按钮</p>
      <form id="voteForm" class="ui four column stackable grid" method='post'>
        {% for item in vote.item | sort(attribute='name')  %}
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="{{ item.picture }}">
            </div>
            <div class="content">
              <div class="header ui checkbox">
                <input type="checkbox" name={{ item.id }} value={{ item.id }}></input>
                <label>{{ item.name }}</label>
              </div>
              <div class="description">
                <div>
                  <strong>职称:</strong>
                  <span>{{ item.title }}</span>
                </div>
                <div>
                   <strong>单位:</strong>
                  <span>{{ item.organization }}</span>
                </div>
                <a class="ui basic button vote_intro_btn" href="/main/introduction/{{ item.id }}/">介绍</a>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
              当前票数：{{ item.count }} 
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="one column row" align="center">
          <input class="ui button vote_submit_btn" type="submit" value="提交"></input>
        </div>
      </form>
    </div>
  </div>
  <div class="f_copyright">
      <a class="f_powerby fs_powerby" target="_blank" href="http://muxistudio.com/">
        Powered by MuxiStudio
      </a>
    </div>
  <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
  <script src="/static/js/custom.js"></script>
</body>
</html>
